In [259]:
import pandas as pd
import numpy as np

In [50]:
column_names = ['fsa_id','name','address','postcode','easting','northing','latitude','longitude','local_authority']

In [51]:
df = pd.read_csv("open_pubs.csv",names = column_names,header=None)

In [52]:
df.head()

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
4,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51331 entries, 0 to 51330
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           51331 non-null  int64
 1   name             51331 non-null  object
 2   address          51331 non-null  object
 3   postcode         51331 non-null  object
 4   easting          51331 non-null  int64
 5   northing         51331 non-null  int64
 6   latitude         51331 non-null  object
 7   longitude        51331 non-null  object
 8   local_authority  51331 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.5+ MB

In [54]:
df['name'] = df['name'].astype('string')

In [55]:
df['address'] = df['address'].astype('string')
df['postcode'] = df['postcode'].astype('string')
df['latitude'] = df['latitude'].astype('string')
df['longitude'] = df['longitude'].astype('string')
df['local_authority'] = df['local_authority'].astype('string')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51331 entries, 0 to 51330
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           51331 non-null  int64
 1   name             51331 non-null  string
 2   address          51331 non-null  string
 3   postcode         51331 non-null  string
 4   easting          51331 non-null  int64
 5   northing         51331 non-null  int64
 6   latitude         51331 non-null  string
 7   longitude        51331 non-null  string
 8   local_authority  51331 non-null  string
dtypes: int64(3), string(6)
memory usage: 3.5 MB

In [57]:
df['latitude'].value_counts()

\N           767
52.896164     10
51.310946     10
53.178189      9
55.318954      8
            ...
51.787561      1
51.784362      1
51.779612      1
51.730625      1
53.076638      1
Name: latitude, Length: 46810, dtype: Int64

In [58]:
df.replace('\\N',np.nan,inplace = True)

In [59]:
df.isnull().sum()

fsa_id               0
name                 0
address              0
postcode             0
easting              0
northing             0
latitude           767
longitude          767
local_authority      0
dtype: int64

In [60]:
df = df.dropna()
df = df.reset_index(drop = True)
df

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
2,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
3,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
4,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
...,...,...,...,...,...,...,...,...,...
50559,597119,Wrexham & District War Memorial Club Ltd,"Wrexham War Memorial Club Farndon Street, Wrex...",LL13 8DE,333909,350438,53.047100,-2.987319,Wrexham
50560,597127,Wrexham Lager Social Club,"1 - 3 Union Road, Wrexham, Wrexham",LL13 7SR,333028,350563,53.048123,-3.000485,Wrexham
50561,597130,Wrexham Rail Sports & Social Club,"Sports And Social Club, 44 Brook Street, Wrexh...",LL13 7LU,333259,350213,53.044998,-2.996966,Wrexham
50562,597131,Wrexham Rugby Club,"Wrexham Rugby Club Bryn Estyn Road, Wrexham, W...",LL13 9TY,335808,351078,53.053094,-2.959124,Wrexham
50563,597137,Y Tai,"Y Tai Railway Road, Brymbo, Wrexham, Wrexham",LL11 5EA,329721,353785,53.076638,-3.050512,Wrexham

In [61]:
df.isnull().sum()

fsa_id             0
name               0
address            0
postcode           0
easting            0
northing           0
latitude           0
longitude          0
local_authority    0
dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50564 entries, 0 to 50563
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           50564 non-null  int64
 1   name             50564 non-null  string
 2   address          50564 non-null  string
 3   postcode         50564 non-null  string
 4   easting          50564 non-null  int64
 5   northing         50564 non-null  int64
 6   latitude         50564 non-null  string
 7   longitude        50564 non-null  string
 8   local_authority  50564 non-null  string
dtypes: int64(3), string(6)
memory usage: 3.5 MB

In [63]:
df['latitude'] = df['latitude'].astype('float64')
df['longitude'] = df['longitude'].astype('float64')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50564 entries, 0 to 50563
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fsa_id           50564 non-null  int64
 1   name             50564 non-null  string
 2   address          50564 non-null  string
 3   postcode         50564 non-null  string
 4   easting          50564 non-null  int64
 5   northing         50564 non-null  int64
 6   latitude         50564 non-null  float64
 7   longitude        50564 non-null  float64
 8   local_authority  50564 non-null  string
dtypes: float64(2), int64(3), string(4)
memory usage: 3.5 MB

In [65]:
df.to_csv('pubs_data.csv')

In [69]:
df1 = pd.read_csv('pubs_data.csv')

In [70]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50564 entries, 0 to 50563
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       50564 non-null  int64
 1   fsa_id           50564 non-null  int64
 2   name             50564 non-null  object
 3   address          50564 non-null  object
 4   postcode         50564 non-null  object
 5   easting          50564 non-null  int64
 6   northing         50564 non-null  int64
 7   latitude         50564 non-null  float64
 8   longitude        50564 non-null  float64
 9   local_authority  50564 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.9+ MB

In [108]:
df1['address'] = df['address'].astype('string')
df1['postcode'] = df['postcode'].astype('string')
df1['latitude'] = df['latitude'].astype('float64')
df1['longitude'] = df['longitude'].astype('float64')
df1['local_authority'] = df['local_authority'].astype('string')

In [109]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50564 entries, 0 to 50563
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       50564 non-null  int64
 1   fsa_id           50564 non-null  int64
 2   name             50564 non-null  string
 3   address          50564 non-null  string
 4   postcode         50564 non-null  string
 5   easting          50564 non-null  int64
 6   northing         50564 non-null  int64
 7   latitude         50564 non-null  float64
 8   longitude        50564 non-null  float64
 9   local_authority  50564 non-null  string
dtypes: float64(2), int64(4), string(4)
memory usage: 3.9 MB